.grid {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.grid-line {
  display: flex;
}
.cell {
  width: 40px;
  height: 40px;
  background: #000;
  border: 1px solid #fff;
}
.snake {
  width: 40px;
  height: 40px;
  background: rgb(103, 173, 56);
  border: 1px solid #fff;
}
.food {
  width: 40px;
  height: 40px;
  background: rgb(201, 61, 61);
  border: 1px solid #fff;
}
