.grid {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.grid:focus {
  outline: none;
}
.grid-line {
  display: flex;
  background: #000;
}
.cell {
  width: 40px;
  height: 40px;
  background: #000;
}
.snake {
  width: 40px;
  height: 40px;
  background: rgb(103, 173, 56);
}
.food {
  width: 40px;
  height: 40px;
  background: rgb(201, 61, 61);
  border-radius: 40%;
}
